@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&family=Source+Sans+3&display=swap");
:host {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: "Source Sans 3", sans-serif;
}

#appContainer {
  background-color: #b0c4de;
  min-height: 100vh;
  width: 100vw;
  background-color: #b0c4de;
  padding-top: 1%;
}

#sopping-cart {
  padding-right: 10px;
}
