.quant-btn {
  margin: 0 10px;
}

#product-in-cart {
  margin: 10px 5px;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
